<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>list</title>
    <link href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/bootstrap.dz.min.css" rel="stylesheet">
    <link href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/theme.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <!--<div class="col-md-4 mb5" v-for="(el, index) in ContentJson" :class="{'col-md-offset-2': index === 2}">-->
        <!--<auto-complete placeholder="请输入应用名称、ID或缩写" :value="el" :list="appList" :keys="['AppCode', 'AppName']"-->
                       <!--:match-keys="['AppCode', 'AppName']" :show-keys="['AppCode', 'AppName']" autoClear></auto-complete>-->
    <!--</div>-->
    <auto-complete placeholder="请输入应用名称、ID或缩写" :value="value" :list="appList" :keys="['AppCode', 'AppName']"
                   :match-keys="['AppCode', 'AppName']" :show-keys="['AppCode', 'AppName']" autoClear></auto-complete>
</div>
<script src="http://static.tcy365.com/cdn/jquery/2.1.0/jquery.js"></script>
<script src="http://static.tcy365.com/cdn/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<%= htmlWebpackPlugin.options.script %>
</body>
</html>
